@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

body {
  background-color: rgb(207, 189, 195);
}

header {
  width: 100%;
  height: 40px;
  background-color: pink;
}
header p {
  text-align: center;
  margin: 0;
  padding: 8px 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  display: inline-block;
  animation: marquee 25s linear infinite; /* Apply the scrolling animation */
}

.header_superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
}

.Logo img {
  width: 240px;
  margin: 13px;
  position: relative;
}

.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  position: relative;
}
.search input {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  border: 1px solid #ccc;
}
.search .fa-magnifying-glass {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.iconos-a {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 15px;
  gap: 10px;
}

.iconos-a i {
  font-size: 1.5rem;
  color: rgb(58, 57, 57);
  margin-right: 10px;
}

.container_menu {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  height: 60px;
  position: relative;
  z-index: 10;
}
.container_menu nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: rgb(245, 162, 176);
}
.container_menu nav li {
  position: relative;
  margin: 0 15px;
}
.container_menu nav a {
  color: rgb(245, 162, 176);
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.container_menu nav a:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.container_menu .submenu {
  display: none;
  position: absolute;
  top: 100%; /* Asegura que el submenú esté justo debajo del elemento padre */
  left: 0;
  background-color: rgb(0, 0, 0); /* Color de fondo del menú */
  padding: 10px;
  z-index: 10;
  border-radius: 10px;
}
.container_menu nav li:hover .submenu {
  display: block;
}
.container_menu .submenu li {
  margin: 10px 0;
}
.container_menu .submenu a {
  padding: 8px 16px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
footer {
  background-color: pink;
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20%;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .dat {
  line-height: 1;
}
footer .dat a {
  color: #024074;
}
footer .social {
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 1100px;
}
footer a {
  color: #080808;
  margin-left: 15px;
  text-decoration: none;
}
footer a:hover {
  color: #024074;
}

.copyright {
  text-align: center;
  width: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.banner-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 230px;
  padding: 0;
  overflow: hidden;
}
.banner-1 img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-1 .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

.carousel-title {
  height: 60px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: Ubuntu;
}

.carousel {
  overflow: hidden;
}
.carousel .carousel-inner {
  display: flex;
  margin-left: 10px;
  flex-wrap: nowrap;
  width: 100%;
}
.carousel .carousel-inner .row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.carousel .carousel-inner .col-3 {
  padding: 0;
  margin: 0;
  flex: 0 0 20%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  position: relative;
}
.carousel .carousel-inner .col-3 img {
  width: auto;
  height: 92%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 5px 0;
  border: 2px solid rgba(122, 111, 121, 0.637);
  box-sizing: border-box;
  transition: transform 0.6s ease;
  cursor: pointer;
}
.carousel .carousel-inner .col-3 img:hover {
  transform: scale(1.04);
}

.container.text-center.info-section {
  margin-top: 15px;
  background-color: rgb(0, 0, 0);
  max-width: 100%;
  padding: 5px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.container.text-center.info-section .info-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
}
.container.text-center.info-section .info-description {
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 35px;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}
.no-gutters > .col img,
.no-gutters > [class*=col-] img {
  cursor: pointer;
}

.img-fluid {
  width: 100%;
  height: auto;
  transition: transform 0.6s ease, box-shadow 0.6s ease, background-color 0.6s ease;
}
.img-fluid.img-hover:hover {
  transform: scale(1.03);
  background-color: gray;
  box-shadow: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
.cards .card {
  flex: 1 1 calc(25% - 1rem);
  margin: 0.5rem;
  position: relative; /* Asegura que la superposición funcione correctamente */
  width: 11rem;
  overflow: hidden; /* Oculta cualquier contenido adicional de la tarjeta */
  transition: transform 0.3s ease; /* Agrega una transición suave */
  /* Establece la imagen que se mostrará al pasar el cursor */
}
.cards .card img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}
.cards .card::after {
  content: "";
  position: absolute;
  top: 25%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Centra completamente */
  width: 94%; /* Ocupa todo el ancho del contenedor */
  height: 46%; /* Ocupa todo el alto del contenedor */
  background-image: url("/img/card/labio2.jpg"); /* Cambia por la URL de la imagen alternativa */
  background-size: cover;
  background-position: center;
  opacity: 0; /* Inicialmente oculta la imagen */
  transition: opacity 0.4s ease; /* Transición de opacidad */
}
.cards .card:hover {
  transform: scale(1.03); /* Escala ligeramente la tarjeta al pasar el cursor */
}
.cards .card:hover::after {
  opacity: 1; /* Muestra la imagen de fondo al pasar el cursor */
}
.cards .card-body h2 {
  font-size: 22px;
}
.cards .card-body .card-text-t {
  text-decoration: line-through;
}

.kenburns-top {
  animation: kenburns-top 20s infinite;
}
@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}/*# sourceMappingURL=estilo.css.map */