.container-f {
    margin-top: 400px;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    justify-content: space-between;    

    h1 {
        font-size: 25px;
        font-family: map-get($fonts, primary);
        background-color: $colorhover;
        width: 100%;
        margin: 0 0 50px 0;
        @include text-shadow;
    }
}

.formulario {
    margin-right: 20px; 
    text-align: left;
    padding: 10px 30px;
    @include flex-column;
}

.img-container {
    flex: 1;
    @include flex-column; 
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    img {
        width: 90%;
        max-width: 450px; 
        height: auto;
        border-radius: 20px;
    }

    .social-contact {
        margin-top: 40px;
        margin-bottom: 150px;
        text-align: center;
        
        a {
            margin: 0 10px;
            font-size: 45px;
            color: map-get($colors, primary); 

            &:hover {
                color: map-get($colors, hover); 
            }
        }
    }
}

.datos,
.consulta {
    width: 500px;
    padding: 40px;
    background-image: url(../img/mobile-img/formm.png);
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: none;

    h2 {
        margin-bottom: 20px;
        color: #fff;
        text-align: left;
        font-size: 19px;
    }

    label {
        display: block;
        margin: auto;
    }

    input,
    textarea {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 5px;
    }

    textarea {
        height: 150px;
    }
}

button {
    background-color: $colorsecundario;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 150px;
    @include hover-scale;
}
