.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 450px;
    text-align: left;
    padding: 10px 40px;

    h1 {
        font-size: 25px;
        justify-content: left;
        font-family: map-get($fonts, primary); 
        background-color: $colorhover;
        width: 100%;
        margin: 0 40px 50px 60px;
        text-shadow: $shadow;
    }

    .datos,
    .consulta {
        width: 700px;
        padding: 40px;
        background-color: rgb(144, 178, 231);
        border-radius: 10px;
        margin-bottom: 40px;
        box-shadow: none;

        h3 {
            margin-bottom: 30px;
            color: #fff;
        }
    }

    input,
    textarea {
        width: 100%;
        border-radius: 10px;
        border: none;
        padding: 10px;
        margin-top: 5px;
    }

    textarea {
        height: 150px;
    }

    button {
        background-color: #4c68af;
        border: none;
        color: white;
        padding: 15px 30px;
        font-size: 18px;
        margin: 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    .terminos-politicas {
        text-align: center;
        margin-top: 20px;
    }
}